html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(
    158deg,
    rgba(38, 110, 190, 1) 0%,
    rgba(0, 176, 255, 1) 100%
  );
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  color: white;
}

#title {
  font-size: 4rem;
  margin: 1rem;
}

#sub-title {
  font-size: 1.4rem;
}

@media (max-width: 800px) {
  #title {
    font-size: 2.8rem;
    margin: 0.9rem;
  }

  #sub-title {
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  #title {
    font-size: 2rem;
    margin: 0.7rem;
  }

  #sub-title {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  #title {
    font-size: 1.3rem;
    margin: 0.5rem;
  }

  #sub-title {
    font-size: 0.7rem;
  }
}
